@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&family=Rubik+Marker+Hatch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Poppins', sans-serif;
}
.pantalla{
    margin: 5rem auto 0 auto;
    padding: 5px 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}
.contenedor{
    position: relative;
    padding: 16px;
}
.texto{
    width: 50%;
    display: block;
    /* margin: .5rem auto; */
}
.country{
    display: block;
    margin: 0 auto;
    /* font-family: 'Rubik Distressed', cursive; */
    font-weight: 900;
    font-size: 4rem;
    color: #EEB81D;
    position: absolute;
    left: 50%;
    bottom: -10%;
    transform: translate(-50%, -50%);
    line-height: 1;
    text-shadow: 5px 3px 1px #000000;
}

.sombra{
    text-shadow: 3px 3px 10px black;

}

.precio{
    color: white;
    font-family: Rubik Marker Hatch, sans-serif;
    font-size: 3rem;
    text-align: center;
    font-weight: 500;
    position: absolute;
    left: 50%;
    bottom: -23%;
    transform: translate(-50%, -50%);
    /* transform: rotate(4deg); */
    text-shadow: 3px 3px 10px black;
}

.domicilio{
    position: absolute;
    bottom: 6rem;
    right: 0;
    left: 0 ;
    margin-left: 1rem;
    display: block;
    margin-top: 6rem;
    font-size: 3.5rem;
    /* width: 80%; */
    font-weight: 900;
    color: white;
    line-height: .9;
    text-shadow: 3px 3px 10px black;
}

.texto-footer{
    margin-top: 3rem;
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

.backgroundpage{
    background-color: #141414;
}

.imgbegetales{
    position: absolute;
    top: 0;
    left: 0;
}

/*
fuentes:
font-family: 'Rubik Marker Hatch', cursive;

*/