@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&family=Rubik+Marker+Hatch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Poppins', sans-serif;
    user-select: none;
}
.pantalla{
    margin: 2rem auto 0 auto;
    padding: 5px 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}
.contenedor{
    position: relative;
    padding: 16px;
    margin-top: 4rem;
    overflow: hidden;
}
.texto{
    width: 50%;
    display: block;
    /* margin: .5rem auto; */
}
.country{
    display: block;
    margin: 0 auto;
    /* font-family: 'Rubik Distressed', cursive; */
    font-weight: 900;
    font-size: 4rem;
    color: #EEB81D;
    position: absolute;
    left: 50%;
    bottom: -10%;
    transform: translate(-50%, -50%);
    line-height: 1;
    text-shadow: 5px 3px 1px #000000;
}

.sombra{
    text-shadow: 3px 3px 10px black;

}

.separacion{
    margin-top: 200px;
}

.precio{
    color: white;
    font-family: Rubik Marker Hatch, sans-serif;
    font-size: 3rem;
    text-align: center;
    font-weight: 500;
    position: absolute;
    left: 50%;
    bottom: -23%;
    transform: translate(-50%, -50%);
    /* transform: rotate(4deg); */
    text-shadow: 3px 3px 10px black;
}

.domicilio{
    position: absolute;
    bottom: 6rem;
    right: 0;
    left: 0 ;
    margin-left: 1rem;
    display: block;
    margin-top: 6rem;
    font-size: 3.5rem;
    /* width: 80%; */
    font-weight: 900;
    color: white;
    line-height: .9;
    text-shadow: 3px 3px 10px black;
}

.texto-footer{
    margin-top: 3rem;
    color: white;
    font-size: .8rem;
    text-align: center;
}
.texto-dev{
    color: white;
    font-size: .8rem;
    text-align: center;
}
.texto-dev a{
    color: #00bdbd;
    font-size: .9rem;
    cursor: pointer;
}
.backgroundpage{
    background-color: #141414;
}

.contenedor .imgbegetales{
    position: absolute;
    width: 100vw;
    height: auto;
    top: 10%;
    right: 0;
    filter: drop-shadow(4px 4px 7px black)
}
.contenedor-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #000000c5;
}
.modal{
    background-color: #141414;
    padding: 20px;
    border-radius: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 95%;
    margin: 7rem auto;
}

.modal h2{
    color: white;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin: 0;
}

.texto-belleza{
    text-align: center;
    margin: 8rem auto 2rem auto;
    line-height: .8;
}

.texto-belleza::first-letter{
    color: #EEB81D;
    font-size: 120%;
    line-height: .8;
}


/*
fuentes:
font-family: 'Rubik Marker Hatch', cursive;

*/