@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&family=Rubik+Marker+Hatch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Poppins', sans-serif;
}
.pantalla{
    margin: 5rem auto 0 auto;
    padding: 5px 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.contenedor{
    position: relative;
    padding: 16px;
}
.texto{
    width: 70%;
    display: block;
    margin: 2rem auto;
}
.country{
    display: block;
    margin: 0 auto;
    font-family: 'Rubik Distressed', cursive;
    font-weight: 500;
    font-size: 4.5rem;
    color: #EEB81D;
    position: absolute;
    bottom: -2rem;
    right: 10%;
    line-height: 1;
    text-shadow: 2px 3px 10px black;
}

.precio{
    color: white;
    font-size: 3rem;
    text-align: center;
    font-weight: 900;
    position: absolute;
    bottom: -4rem;
    right: 4rem;
    transform: rotate(4deg);
    text-shadow: 2px 3px 10px black;
}

.domicilio{
    position: absolute;
    bottom: -15rem;
    right: 0;
    left: 0 ;
    margin-left: 1rem;
    display: block;
    margin-top: 6rem;
    font-size: 4.5rem;
    width: 70%;
    font-weight: 900;
    color: white;
    line-height: .8;
}

.texto-footer{
    margin-top: 3rem;
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

/*
fuentes:
font-family: 'Rubik Marker Hatch', cursive;

*/